.contact
  display flex
  flex-direction column
  margin-bottom 16px

.title
  font-family 'SourceSansProBold', sans-serif
  font-weight bold
  color #1B1F27
  font-size 18px
  line-height 32px
  margin-bottom 16px

.link
  font-family 'SourceSansProBold', sans-serif
  font-weight bold
  font-size 24px
  color #1B1F27
  line-height 32px
  margin-bottom 4px
  align-self baseline

  &last-child
    margin-bottom 0
