@import '../../../../../../styles/variable.styl'

.block 
  display flex
  align-items center
  cursor pointer

  &:hover .text 
    color $dark-green

.show
  margin-top 24px

  @media (min-width $tablet) 
    margin-top 20px

.hide
  margin-top 28px
    
  @media (min-width $tablet)
    margin-top 38px

.text 
  font-family $accent-font
  font-weight bold
  font-size 20px
  line-height 28px
  color $dark-green
  transition $duration

.img 
  margin-left 15px
  width 12px
  height 8px
