@import '../../../../src/styles/variable.styl'

.list
  display flex
  justify-content flex-start
  flex 0 0 45%

.item
  margin-right 28px

.item:last-child
  margin-right 0

.link
  padding 16px 0
  font-family 'BalsamiqSansBold', sans-serif
  font-weight bold
  font-size 14px
  color $blue