@import '../../../../src/styles/variable.styl'

.block
  display flex
  align-items flex-end
  justify-content flex-end
  flex 0 0 30%

.icon
  width 22px
  height 22px
  fill $blue
  margin-right 8px

.title
  font-size 16px
  color $blue
  font-family 'Montserrat', sans-serif
  font-weight normal