@import '../../../../src/styles/variable.styl'

.container 
  padding 40px
  box-shadow 0px 16px 48px rgba(73, 92, 136, 0.15)
  border-radius 32px
  background-color #fff
  text-align center
  box-sizing border-box

.title 
  font-family $title-font
  font-weight 800
  font-size 24px
  line-height 32px
  color $dark-black

.date
  font-family $accent-font
  font-weight bold
  font-size 16px
  line-height 24px
  color $dark-black
  margin-bottom 32px

.list 
  margin-bottom 32px

  @media (min-width: $tablet) 
    margin-bottom 40px

.item 
  display flex
  align-items center
  justify-content space-between
  margin-bottom 24px

  @media (min-width: $tablet) 
    margin-bottom 16px
  
  &:last-child 
    margin-bottom 0

  &__title 
    font-family $accent-font
    font-weight bold
    color $grey
    font-size 16px
    line-height 24px
    text-align left

  &__text 
    font-family $title-font
    font-weight 800
    font-size 16px
    color $dark-black
    white-space nowrap

  &__text--big 
    color $dark-green
    font-size 24px

.btn 
  margin 0 auto
  width 100%

  @media (min-width: 1024px) 
    width auto
