@import 'variable'

:global
  .btn
    display flex
    height 40px
    background-color $red
    border 1px solid $black
    color $white
    padding 0 16px
    box-shadow 0 2px 4px 0 rgba(0,0,0,0.25)
    border-radius 15px
