// /fonts/ путь который нужен для статических файлов так как они лежат в public директории

:global
  @font-face
    font-family 'SourceSansProRegular'
    font-style normal
    src url('/assets/fonts/SourceSansPro-Regular.ttf')
