// break points
$mobile = 320px
$tablet = 768px
$laptop = 1200px
$desktop = 1600px

// colors
$pink = #F28599
$purple = #6650F2
$ligth-purple = #9E91F2
$blue = #191B40
$ligth-grey = #EBEEF2

// fonts
$accent-font = 'SourceSansProRegular', sans-serif

$duration = 0.4s
$box-shadow = 0 2px 4px 1px rgba(0,0,0,0.15)
$box-shadow-active = 0 4px 4px 2px rgba(0,0,0,0.15)