@import '../../../../src/styles/variable.styl'

.list
  display flex
  justify-content flex-end
  flex 0 0 30%

.item
  margin-right 24px

.item:last-child
  margin-right 0

.link
  display block
  padding 4px

.alert
  font-family 'Modak', sans-serif
  font-size 14px
  display none

.icon
  display block
  width 24px
  height 24px
  fill #fff