.block 
  display flex
  align-items center
  cursor pointer

  @media (min-width 768px)
    margin-top 34px
  
  &::hover .link 
    color #428B26

.img
  height 24px
  width 24px
  margin-right 16px

.link
  font-family 'SourceSansProBold', sans-serif
  font-weight bold
  color #000
  font-size 16px
  line-height 24px
  margin-top 2px
  transition 0.4s
