.hero-img
  background rgba(25,25,25,0.25) url('../../../public/assets/images/hero-img__mobile.png')
  background-repeat no-repeat
  background-size cover
  background-position 50%
  padding 26px 0 40px
  min-height 686px
  box-sizing border-box

  @media (min-width 768px)
    padding 160px 0 60px
    max-height 860px
    min-height auto

  @media (min-width 1024px)
    background-image url('../../../public/assets/images/hero-img__banner.png')

  @media (min-width 1200px)
    padding 140px 0 70px

  @media (min-width 1600px)
    padding 205px 0 98px

.action-info
  background-color #DBF4FA
  padding 45px 0

  @media (min-width 992px) 
    padding 50px 0
