@import '../../../../src/styles/variable'

.title
  font-family $accent-font
  font-weight bold
  font-size 18px
  line-height 32px
  margin-bottom 16px
  color $black

.block
  & img:first-child
    margin-right 8px
    
.img
  height 50px
  width 167px
  