.title
  font-family 'SourceSansProBold', sans-serif
  font-weight bold
  font-size 18px
  line-height 32px
  margin-bottom 16px

.block
  & img:first-child
    margin-right 8px
    
.img
  height 50px
  width 167px
  