@import '../../src/styles/variable.styl'

.top
  background-color #fff

.top__wrapper
  display flex
  justify-content space-between
  align-items center
  height 80px
  
.bottom
  background-color $purple

.bottom__wrapper
  display flex
  align-items center
  justify-content space-between
  height 80px