@import '../../../../src/styles/variable.styl'

.container 
  padding-bottom 24px

.title 
  margin-bottom 8px
  font-family $secondary-font
  font-size 16px
  line-height 24px
  color $light-black
  font-weight normal

.block 
  display flex
  flex-direction column
  align-items flex-start
  margin-bottom 2px

.input 
  width 100%
  padding 16px
  border 1px solid #C6C6C6
  border-radius 12px
  height 56px
  transition $duration
  cursor pointer
  outline none
  box-sizing border-box
  background-color #fff
  font-family $accent-font
  font-weight bold
  font-size 16px
  line-height 24px
  color $dark-black
  margin-bottom -16px

.input:focus,
.input:active,
.input:hover 
  border 2px solid $light-green
  background #fff

.info 
  display flex
  justify-content space-between
  width 100%

.text 
  font-family $secondary-font
  font-weight normal
  font-size 14px
  line-height 20px
  color $grey
