@import '../../../../../../styles/variable.styl'

.block 
  margin-top 50px

  @media (min-width $tablet) 
    margin-top 74px
  
.content 
  display flex
  flex-wrap wrap
  margin 0 -16px

.item 
  flex 1 0
  min-width 290px
  margin-bottom 48px
  padding 0 16px
  box-sizing border-box

  @media (min-width $tablet) 
    margin-bottom 0
  
.title 
  margin-bottom 16px
  
  @media (min-width $tablet) 
    font-size 32px
    line-height 52px

.text 
  font-family $secondary-font
  font-weight normal
  font-size 20px
  line-height 28px
  color $dark-black
